# ================================
# Maven
# ================================
target/

# ================================
# Test Reports / Generated Output
# ================================
test-output/
reports/

# ================================
# Logs
# ================================
*.log
logs/

# ================================
# Eclipse
# ================================
.metadata/
.settings/
.classpath
.project

# ================================
# IntelliJ IDEA
# ================================
.idea/
*.iml

# ================================
# VS Code
# ================================
.vscode/

# ================================
# OS
# ================================
.DS_Store
Thumbs.db